{% extends 'review_my_courses/base.html' %}

{% block content %}

    <p>School: <a href="{% url 'review_my_courses:school' school.id %}">{{ school.name }}</a></p>
    <p>Course Code: {{ course.course_code }}</p>
    <p>Course Title: {{ course.title }}</p>
    <p>Reviews</p>
    <p><a href="{% url 'review_my_courses:new_review' course.id %}">Add a new review</a></p>
    {% for review in reviews %}
        <hr>
        <p>Review Date: {{ review.review_date }}</p>
        <p>Term: {{ review.term.title }} {{ review.year }}</p>
        <p>Difficulty: {{ review.difficulty }}</p>
        <p>Workload (hrs/week): {{ review.workload }}</p>
        <p>Rating: {{ review.rating }}</p>
        <p>Review: {{ review.text }}</p>
        <p><a href="{% url 'review_my_courses:edit_review' review.id %}">Edit Review</a></p>
        <p><a href="{% url 'review_my_courses:delete_review' review.id %}">Delete Review</a></p>
    {% endfor %}

{% endblock content %}