{% extends "review_my_courses/base.html" %}
{% load django_bootstrap5 %}

{% block page_nav %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page"
           href="{% url 'review_my_courses:school' school.id %}">{{ school.name }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page"
           href="{% url 'review_my_courses:course' course.id %}">{{ course.course_code }}: {{ course.title }}</a>
    </li>
{% endblock page_nav %}

{% block page_header %}
    <h2>Edit review</h2>
{% endblock page_header %}

{% block content %}
    <form action="{% url 'review_my_courses:edit_review' review.id %}" method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <a href="{% url 'review_my_courses:course' course.id %}" id="cancel" class="btn btn-outline-primary">Cancel</a>
        <button name='submit' class="btn btn-primary">Save changes</button>
    </form>

{% endblock content %}