{% extends "review_my_courses/base.html" %}
{% load django_bootstrap5 %}

{% block page_nav %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page"
           href="{% url 'review_my_courses:school' school.id %}">{{ school.name }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page"
           href="{% url 'review_my_courses:course' course.id %}">{{ course.course_code }}: {{ course.title }}</a>
    </li>
{% endblock page_nav %}

{% block page_header %}
    <h2>Create a new review</h2>
{% endblock page_header %}

{% block content %}
    <form action="{% url 'review_my_courses:new_review' course.id %}" method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button name="submit" class="btn btn-primary">Submit review</button>
    </form>

{% endblock content %}