{% extends 'review_my_courses/base.html' %}

{% block content %}
    <p>School: {{ school.name }}</p>

    <p>
        <a href="{% url 'review_my_courses:new_course' school.id %}">Add a new course</a>
    </p>

    <p>Courses:</p>
    <table>
        <tr>
            <th>Course Code</th>
            <th colspan="3">Course Title</th>
            <th>Total Reviews</th>
            <th>Difficulty (1-5)</th>
            <th>Workload (hrs/week)</th>
            <th>Rating (1-5)</th>
        </tr>

        {% for course in courses %}
            <tr>
                <td><a href="{% url 'review_my_courses:course' course.id %}">{{ course.course_code }}</a></td>
                <td>{{ course.title }}</td>
                <td><a href="{% url 'review_my_courses:edit_course' course.id %}">Edit</a></td>
                <td><a href="{% url 'review_my_courses:delete_course' course.id %}">Delete</a></td>
                <td>{{ course.total_reviews }}</td>
                <td>{{ course.average_difficulty|default_if_none:"N/A" }}</td>
                <td>{{ course.average_workload|default_if_none:"N/A" }}</td>
                <td>{{ course.average_rating|default_if_none:"N/A" }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock content %}